html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  font-family: 'Dosis', sans-serif;
}

body.landing-page {
  text-align: center;
}

.landing-page h1 {
  color: #fff;
  font-weight: normal;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: .9;
  margin: 0;
}

.links, h1 {
  z-index: 999;
  text-shadow: 2px 2px #000000;
}

.links {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 23px;
  font-size: 1.3em;
  left: 252px;
}

a {
  color: #fff;
  text-decoration: none;
  opacity: .9;
}

a:hover {
  opacity: 1;
}

.links li {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin: 0 25px;
}

.gallery {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
}

.gallery li {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: none;
}

.gallery li:first-child {
  display: block;
}

.gallery li span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  opacity: .3;
}
