@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration:  rgb(0, 243, 152) 2px underline;
  text-underline-offset: 0.2em;
	transition: 0.2s;
  &:hover {
    color: rgb(0, 243, 152);
  }
}